/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  color: var(--color-dark);
  font-family: var(--font-family-main);
  font-size: var(--font-size-base);
  background-image: var(--background-img);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--wght-normal);
  margin-block-end: var(--spacing-xl);
}

.dynmc-width {
  inline-size: var(--dynamic-width);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-md);
  margin: var(--spacing-xl) auto var(--spacing-xl);
  border: 2px solid var(--color-dark);
  padding-inline: clamp(0.875rem, 9.953vw - 1.458rem, 7.5rem);
  padding-block: clamp(7.5rem, 0.751vw + 7.324rem, 8rem);
  font-family: var(--font-family-accent);
  text-transform: uppercase;
  background-color: var(--color-light);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

/* main section */

.content {
  margin: 0 auto;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-l);
}

.card {
  border: 2px solid var(--color-dark);
  background-color: var(--color-light);
}

.card__title {
  border-bottom: 2px solid var(--color-dark);
  padding: 6px 24px 6px var(--spacing-sm);
  font-size: var(--font-size-base);
  line-height: 1;
  font-variation-settings: 'wght' var(--wght-bold);
}

.card__img-wrapper {
  position: relative;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.card__img-label {
  position: absolute;
  opacity: 0.5;
  color: var(--color-dark);
  font-family: var(--font-family-accent);
  font-size: var(--font-size-sm);
  text-transform: lowercase;
  text-shadow:
    1px 1px 0 var(--stroke-color),
    -1px -1px 0 var(--stroke-color);
  inset-block-start: var(--spacing-ml);
  inset-inline-end: clamp(0.813rem, 1.127vw + 0.548rem, 1.563rem);
  mix-blend-mode: hard-light;
}

@supports (text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color)) {
  .card__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
  }
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-ml);
  border-top: 2px solid var(--color-dark);
  padding: var(--spacing-ml);
}

.card__text p {
  line-height: 1.17;
}

.card__text p:not(:last-child) {
  margin-block-end: 27px;
}

.button {
  position: relative;
  border: 2px solid var(--color-dark);
  overflow: hidden;
  background-color: var(--color-light);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--button-difference-color);
  font-family: var(--font-family-accent);
  font-size: var(--font-size-sm);
  line-height: 0.9;
  mix-blend-mode: difference;
}

.button svg {
  position: relative;
  z-index: 1;
  fill: var(--button-difference-color);
  mix-blend-mode: difference;
}

.card__like-btn-block {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: flex-end;
  block-size: 38px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.card__like-button {
  padding-block: 6px;
  min-inline-size: 130px;
}

.save-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-inline: auto;
  padding-inline: var(--spacing-md);
  padding-block: 16px;
}

.modal-save__button {
  grid-column: 1 / -1;
  padding: 8px 17px;
  inline-size: 100%;
  block-size: 38px;
}

/* Стилизация картинок */

.filter-brightness {
  filter: brightness(1.2);
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-contrast {
  filter: contrast(1.5);
}

.filter-sepia {
  filter: sepia(60%);
}

.filter-saturate {
  filter: saturate(2);
}

.filter-invert {
  filter: invert(100%);
}

.filter-multi {
  filter: brightness(0.8);
  /* blur(8px) */
}

.filter-hue {
  filter: hue-rotate(90deg);
}

/* Модальное окно */

.modal-save {
  border: 2px solid var(--color-dark);
  max-inline-size: 353px;
  /* block-size: 191px; */
}

.modal-save[open] {
  display: grid;
  grid-template-columns: 38px 1fr;
  grid-template-rows: auto auto;
  place-items: center;
  row-gap: 30px;
  column-gap: var(--spacing-md);
  padding: 30px;
}

.modal-save[open] .modal-save__notice {
  text-transform: uppercase;
  font-family: var(--font-family-accent);
  font-size: var(--font-size-sm);
  line-height: 1.5;
}

.modal-save[open] .button__text {
  text-transform: uppercase;
}

.modal-save[open]::backdrop {
  background-color: rgba(0 0 0 / 0.75);
}

/* Состояния кнопок  */

button:focus {
  outline: none;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--backgr-hover-btn);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--color-btn-shadow);
}

.like-icon .sparks {
  opacity: 0;
}

.like-icon .contour {
  fill: var(--contour-color);
  transition: fill 0.1s linear;
}

.like-icon .core {
  transition-delay: 0.03s;
}

.like-icon .core,
.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .core,
.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  transition-delay: 0.05s;
}

.like-icon:active .core,
.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core,
.like-icon.is-liked .main-body,
.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center center;
  animation: heart-scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s 0.3s ease-in;
}

@media (width <=375px) {

  .header,
  .content {
    inline-size: 100%;
  }

  .card__title {
    padding: 6px var(--spacing-sm);
    line-height: 1.1;
  }

  .save-button {
    flex-direction: column;
  }

  .save-button svg {
    inline-size: 28px;
    block-size: 28px;
  }

  .modal-save[open] {
    padding: 30px 40px;
    max-inline-size: 341px;
  }
}

.card__icon-button:focus-visible {
  border-color: var(--color-btn-shadow);
}